@media (max-width: 480px) {
body {
    background-color: blueviolet;
}
}

@media (min-width: 481px) and (max-width: 768px) { 
    body {
        background-color: black;
    }
    }

    @media (min-width: 769px) and (max-width: 1024px) { 
        body {
            background-color: red;
        }
        }

        @media (min-width: 1025px) and (max-width: 1500px) { 
            body {
                background-color:blue;
            }
            }