@charset "UTF-8"; 

@font-face {
    font-family: fonte_principal ;
    src: url(../fontes/love_craft/Love\ Craft\ Italic.ttf);
 }

 body {
     background-color:#dfdede;
 }

 h1 {
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 4rem;
   /* font-family: 'fonte_principal',Arial, Helvetica, sans-serif;*/
 
   
}

 h2 {
    text-align: center;
    font-weight: bolder;
    color:#deff1c;

   
   
}

 p {
    text-align: center;
    font-weight: bolder;
    color:black;
   
}

 h3 {
    text-align: center;
    font-weight: bolder;
   
}

    

    .carousel-item ul {
    display: flex;
    list-style: none;
    width: 1200px;
    height: 250px;
   border-style: solid;
   border-color: blue;
   border-bottom: 50px;
 
     
}

   .carousel-item li {
    position: relative;
    left: 200px;
    animation: slide 15s infinite ease-out;
   
    
}
  .legenda {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;

  }


  