@charset "UTF-8"; 

@font-face {
    font-family: fonte_principal ;
    src: url(../fontes/love_craft/Love\ Craft\ Italic.ttf);
 }

 body {
     background-color: #cdbbbb;
     
 }
     .icones {
        background-color:#212529;
        position: relative;
        color:white;
        padding:15px
        
     } 
     .icones a {
        display: inline-flex;
        margin: 0 20px;     
        border-radius: 50px;
        background-color: #f14130;
        justify-content: center;
        align-items: center;
        transition: 0.4s;  
        font-size: 30px;  
        color:white;
        text-decoration: none;
        text-indent: ;
        
       
     }
      
     .icones a:hover {
        background-color: green;
     }
   
       .icones a i {
        transition: 00.04s all;
     }
     .icones a:hover > i {
        transform: scale(1.6) rotate(25deg); 
     }

     figcaption > h6 {
      margin-left: 280px;
      margin-top: -25px;

     }
       

 h1 {
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 4rem;
   /* font-family: 'fonte_principal',Arial, Helvetica, sans-serif;*/
 
   
}

 h2 {
    text-align: center;
    font-weight: bolder;
    color:#deff1c;

   
   
}

 p {
    text-align: center;
    font-weight: bolder;
    color:black;
   
}

 h3 {
    text-align: center;
    font-weight: bolder;
   
}

h4 {
   text-align: center;
   font-weight: bolder;
  }

  h4 a {
   color:green;
   text-decoration: none;
  }
   section {
    background-color:  #32CD32;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
   
   }

   section .carousel-control-next {

    margin-right: -100px;
   }

   section .carousel-control-prev {

    margin-left: -100px;
   }

   aside {
    padding:10px
   }

   .legenda {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;

   }

   aside li {

      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bolder;
      list-style:none ;
   }
      aside ul {
        background-color: aquamarine;
        border-radius: 10px;
        border-style:dashed;
      }

          

     aside  a {

      color:blue;
     }

     aside a:hover {
      color:#deff1c;
     }
     
     footer h1 {
       
       clear : both;
       border-top: 5px solid black;  
       text-align: center;  
       text-justify: auto;          
      font-family:Arial, Helvetica, sans-serif;
      color:green;
      font-size: 25px;
     
      border-bottom: 5px;
      padding-bottom: 5px;
      font-weight: bolder;
     

   }
       footer a {
         text-align: center;
         margin-left: 80px;
         font-size: 15px;
         font-weight: bolder;
         text-decoration: none;
         color:black
                
       }

       footer a p {

         color: brown;
         text-align: center;
         text-decoration:underline;
         font-weight: bolder;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 15px;
         
       }        
      

       h5 {
         margin-left:300px;
         margin-top:-40px;
         text-align: center;
       }
   
     

    
      


      
    
   

  

  
        
 
   
    
   
   