@charset "UTF-8"; 

@font-face {
    font-family: fonte_principal ;
    src: url(../fontes/love_craft/Love\ Craft\ Italic.ttf);
 }

 body {
     background-color:#8c8c8c;     
 }
 
    .icones {
        background-color: black;
    }
  
   
  

  
   

 h1 {
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 4rem;
   /* font-family: 'fonte_principal',Arial, Helvetica, sans-serif;*/
 
   
}

 h2 {
    text-align: center;
    font-weight: bolder;
    color:#deff1c;

   
   
}

 p {
    text-align: center;
    font-weight: bolder;
    color:black;
   
}

 h3 {
    text-align: center;
    font-weight: bolder;
   
}
   section {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
   
   }

   section .carousel-control-next {

    margin-right: -100px;
   }

   section .carousel-control-prev {

    margin-left: -100px;
   }

   aside {
    padding:10px
   }

   .legenda {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;

   }

  

  
        
 
   
    
   
   