
    @media (min-width: 769px) and (max-width: 1024px) { 

        
        /*body {
            background-color:yellowgreen;
            text-align: center;
            color:rgba(10, 179, 231, 0.589);
            font-size: 2rem;
            margin-top: auto;
            
            font-weight: bolder;*/
            
        }
        }
